html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #171929;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primaryButton {
  background: #8cc63e;
  width: 100%;
  color: rgb(22, 24, 41);
  border: none;
  border-radius: 7px;
  height: 50px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  font-size: 16px;
}
.primaryButton:hover {
  background-color: #80b639;
}
input {
  border: 1px solid lightgray;
  border-radius: 7px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  font-size: 16px;
  padding: 0 5px;
  transition: 0.3s;
}
input:focus {
  outline: none !important;
  border: 1px solid #80b639;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
}
