.subscribeForm {
  margin: auto;
  width: 40%;
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  height: 520px;
  display: flex;
  flex-direction: column;

  backdrop-filter: blur(12px);
}
.subscribeForm .container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.subscribeForm .errorMessage {
  bottom: -30px;
  margin: 0;
  font-size: 14px;
  color: tomato;
  text-align: center;
  width: 100%;
}

.subscribeForm .checkIcon {
  font-size: 60px;
  margin: auto;
  color: white;
}
.subscribeForm .iconCircle {
  width: 60px;
  height: 60px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(41, 170, 225, 1) 0%,
    rgba(140, 198, 62, 1) 100%
  );
  display: flex;
  font-size: 30px;
  margin: auto;
  border-radius: 50%;
}
.subscribeForm .subtitle {
  background: linear-gradient(
    90deg,
    rgba(41, 170, 225, 1) 0%,
    rgba(140, 198, 62, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscribeForm .highlight {
  background: linear-gradient(
    90deg,
    rgba(41, 170, 225, 1) 0%,
    rgba(140, 198, 62, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media all and (max-width: 768px) {
  .subscribeForm {
    width: 100%;
  }
}
