.subscribeForm {
  margin: auto;
  width: 40%;
  max-width: 400px;
  background: #29aae1;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
  height: 480px;
  display: flex;
  flex-direction: column;
}
.subscribeForm .container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.subscribeForm .errorMessage {
  position: absolute;
  bottom: -15px;
  margin: 0;
  font-size: 14px;
  color: rgb(22, 24, 41);
  text-align: center;
  width: 100%;
}

.subscribeForm .checkIcon {
  font-size: 60px;
  margin: auto;
  color: white;
}

@media all and (max-width: 768px) {
  .subscribeForm {
    width: 100%;
  }
}
